<div class="card post-container" style="margin-bottom:10px;">
  <div class="card-body">
    <div class="row">
      <div class="col-md-7">
        <p><strong><%= post.user.username %> wrote: </strong></p>
      </div>
      <div class="col-md-5">
        <p><%= post.created_at %></p>
      </div>
    </div>
    <p><%= post.body %></p>
    <div class="row">
      <div class="col-md-1">
        <i class="fa fa-comments"> <%= post.comments.count %></i>
      </div>
      <div class="col-md-1">
        <i class="fa fa-heart"> <%= post.likes.count %></i>
      </div>
    </div>
  </div>
</div>
